// /**
//  * Copyright © Scandiweb, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Styles Extends
//  _____________________________________________

//
//  List default styles reset
//  ---------------------------------------------
/* Variable definitions */
@themeColor: #1979c5;
@color-text: #ffffff;
@media-common: true;

&when (@media-common = true) {
    .action.primary, .action-primary {
        background-color: @themeColor;
        color: @color-text;
    }
}
